/* CSS Document */
@charset "UTF-8";

*{
	border:none;
	padding:0px;
	margin:0px; 
}

html,body,#template{
	height:100% !important;
	width: 100% !important;
}

body,td,th {
	font-size: 30px;
	font-weight: bold;
}



body{
     background-color:rgb(203,02,26);
     -webkit-transition: background-color 1000ms linear;
     	-moz-transition: background-color 1000ms linear;
     	 -ms-transition: background-color 1000ms linear;
     	  -o-transition: background-color 1000ms linear;
     		 transition: background-color 1000ms linear;
}

.tiny #template{
	-webkit-transform:scale(0.3,0.3);
	   -moz-transform:scale(0.3,0.3);
	   		transform:scale(0.3,0.3);
	-webkit-transform-origin:0 0;
	   -moz-transform-origin:0 0;
			transform-origin:0 0;

}


.console{
	position : fixed;
	right: 0;
	top: 0;
	width:400px;
	background: rgba(255,255,0,0.7);
	color: #000;
	font-size: 15px;
	font-weight: bold;
	padding: 15px;
	margin:15px; 
	z-index: 999;
	font-family: 'monaco';
}

.console:hover{
	background: rgba(255,255,0,1);
}

.console p{
	color:#000;
}

#template{
	min-width:720px;
	min-height:1270px;
}

@media screen and (orientation:landscape){

	#template{
		min-width:1270px;
		min-height:720px;
	}
}