/* CSS Document */
@charset "UTF-8";

*{
	border:none;
	padding:0px;
	margin:0px; 
}

html,body{
	overflow: hidden;
}

body,td,th {
	font-size: 30px;
	font-weight: bold;
}

body, #template{
     background-color:rgb(203,02,26);
     -webkit-transition: background-color 1000ms linear;
     	-moz-transition: background-color 1000ms linear;
     	 -ms-transition: background-color 1000ms linear;
     	  -o-transition: background-color 1000ms linear;
     		 transition: background-color 1000ms linear;
     cursor: none;
}

body.preview, body.preview #template{
	cursor:auto;
}
body.debug, body.debug #template{
	cursor:auto;
	overflow: auto;
}

/* affichage miniature */
.tiny #template{
	-webkit-transform:scale(0.3,0.3);
	   -moz-transform:scale(0.3,0.3);
	   		transform:scale(0.3,0.3);
	-webkit-transform-origin:0 0;
	   -moz-transform-origin:0 0;
			transform-origin:0 0;

}

/* console */
.debug .console{
	display : block;
}

.console{
	display : none;
	position : fixed;
	right: 0;
	top: 0;
	width:400px;
	background: rgba(255,255,0,0.5);
	color: #000;
	font-size: 15px;
	font-weight: bold;
	padding: 15px;
	margin:15px; 
	z-index: 999;
	font-family: 'monaco',monospace;
	border: dashed 1px #FF0;
}

.console:hover{
	background: rgba(255,255,0,1);
}

.console p{
	color:#000;
}

.console .red{
	color:red;
}

.console button{
	background: #333;
	color: #FFF;
	padding: 3px;
	font-size: 15px;
	margin-top:10px; 
}

.pause .console #now{
	text-decoration: line-through;
}