/*
* STYLE CSS POUR LE BACKOFFICE PLASMA
*/


body {
    font-size: 10pt;
    font-family: verdana, sans, arial, sans-serif;
    background: #eee;
}


div#mytimeline{
    margin: 2em 0;
}

/*
 * Style de la timeline
 */

div.timeline-frame{
    border: 1px solid #ddd;
    background: #fbf5f6;
}

div.timeline-axis{
    border-color: #BEBEBE;
    border-width: 1px;
    border-top-style: solid;
}

div.timeline-axis-grid{
    border-left-style: dotted;
    border-width: 1px;
}

div.timeline-axis-text{
    color: #000;
    padding: 3px;
    white-space: nowrap;
    font-style: italic;
}

div.timeline-axis-text-major{
    font-weight:bold;
}


/*
 * style des éléments de la timeline
 */

div.timeline-event.timeline-event-box{
    background: #333;
    color: #fff;
    border-color: #000;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 10px;
}

div.timeline-event-line{
    border-left-width: 0px;
}

div.timeline-event.timeline-event-dot{
    border-style: solid;
    border-width: 0px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

div.timeline-event.timeline-event-range{
    background-image: none;
    /*background-color: #ff9999;*/
    border-color:#C00;
    color:#333;
    border:0;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

div.timeline-event.timeline-event-range.unpublished{
    /*background-image: url('../graphisme/unpublished2.png');
    background-repeat: repeat;*/
    color: #fff;
    font-weight: bold;
    border:#fbf5f6 2px dotted;
    opacity: 0.65;
}

div.timeline-event.timeline-event-selected{
    border-color: #C00;
    background-color: #ff6666;
    color: #fff;
    z-index: 999;
}

div.timeline-event.timeline-event.screen{
    display: none;
}

div.timeline-event.timeline-event-selected.screen{
    background: #333;
    color: #fff;
    border-color: #000;
}

div.timeline-event.readonly {
    background-image: url('../graphisme/unpublished-protected.png');
    background-color: #ff4500;
    border-color: red;
    color: white;
}

div.timeline-event.readonly.unpublished {
    background-image: url('../graphisme/unpublished-protected.png');
    background-repeat: repeat;
    background-color: #ff4500;
    border-color: red;
    color: #000;
    font-weight: normal;
    font-style: italic;
}

div.timeline-currenttime{
    border-color: #09F;
    border-right-width: 2px;
    border-right-style: dotted;
    background: none;
}

/*
 * couleur des templates
 */
div.timeline-event.timeline-event-range.default{
    background-color: rgb(203,02,26);
}
div.timeline-event.timeline-event-range.compte_a_rebours{
    background-color: rgb(203,02,26);
}
div.timeline-event.timeline-event-range.evenements{
    background-color: #4670be;
}
div.timeline-event.timeline-event-range.meteo{
    background-color: #f1a000;
}
div.timeline-event.timeline-event-range.sports{
    background-color: rgb(247,207,50);
}
div.timeline-event.timeline-event-range.verbatim{
    background-color: rgb(203,02,26);
}
div.timeline-event.timeline-event-range.video{
    background-color: rgb(203,02,26);
}



/*
* FORMULAIRE DFORM AND UPLOADIFIVE
*/

.fancybox-inner label,
.fancybox-inner input,
.ui-dform-form label,
.ui-dform-form input {
    display: block;
    width: 300px;
    float: none;
}
.fancybox-inner label,
.ui-dform-form label{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:10px;
}


.fancybox-inner input[type=text],
.ui-dform-form input[type=text]{
    width: 300px;
    font-size: 14px;
}

.fancybox-inner button{
    font-size: 12px;
    margin: 20px 0 10px;
}

.fancybox-inner fieldset, .fancybox-inner fieldset p{
    width:480px;
}

.ui-dform-form .vignette{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.ui-dform-form .vignette[src="../slides_images/undefined"]{
    display:none;
}

.ui-dform-form .ui-dform-button{
    margin: 20px auto;
}

.ui-dform-form .uploadifive-button {
    background-color: #505050;
    border: 0;
    color: #FFF;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    text-transform: uppercase;
    width: 100%;
    display: block;
}
.ui-dform-form .uploadifive-button:hover {
    background-color: #606060;
}
.ui-dform-form .uploadifive-queue-item {
    background-color: #F5F5F5;
    border-bottom: 1px dotted #D5D5D5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    font: 12px Arial, Helvetica, Sans-serif;
    margin-top: 3px;
    padding: 15px;
}
.ui-dform-form .uploadifive-queue-item .close {
    background: url('../graphisme/uploadifive/uploadifive-cancel.png') 0 0 no-repeat;
    display: block;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.ui-dform-form .uploadifive-queue-item .progress {
    border: 1px solid #D0D0D0;
    height: 3px;
    margin-top: 5px;
    width: 100%;
}
.ui-dform-form .uploadifive-queue-item .progress-bar {
    background-color: #0072BC;
    height: 3px;
    width: 0;
}
